<%- include("../includes/header.ejs", {title:"Career Accolades - View All"}); %>

<h1>Career Accolades</h1>
<a href="/career_accolades/add">Add New Player's Accolades</a> <br />

<br />

<table border="1">
    <tr>
        <th>Player_id</th>
        <th>Rookie of the Year</th>
        <th>Most Improved Player of the Year</th>
        <th>Defensive Player of the Year</th>
        <th>Sixth Man of the Year</th>
        <th>MVP</th>
        <th>NBA Champion</th>
        <th>Finals MVP</th>
        <th>All-Star Appearances</th>
        <th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td>
            <a href="/player/?player_id=<%= result[i].player_id %>"><%= result[i].player_id %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].rookie_of_the_year %>"><%= result[i].rookie_of_the_year %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].most_improved_player_of_the_year %>"><%= result[i].most_improved_player_of_the_year %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].defensive_player_of_the_year %>"><%= result[i].defensive_player_of_the_year %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].sixth_man_of_the_year %>"><%= result[i].sixth_man_of_the_year %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].MVP %>"><%= result[i].MVP %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].NBA_champion %>"><%= result[i].NBA_champion %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].finals_MVP %>"><%= result[i].finals_MVP %></a>
        </td>
        <td>
            <a href="/career_accolades/?player_id=<%= result[i].all_star_appearances %>"><%= result[i].all_star_appearances %></a>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/career_accolades/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
            <form action="/career_accolades/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>