<%- include("../includes/header.ejs", {title:"Career Playoff Stats - View All"}); %>

<h1>Career Playoff Stats</h1>
<a href="/career_playoff_stats/add">Add New Player's Playoff Stats</a> <br />

<br />

<table border="1">
    <tr>
        <th>Games Played</th>
        <th>Games Started</th>
        <th>Field Goal %</th>
        <th>Free Throw %</th>
        <th>3-Pt %</th>
        <th>Points</th>
        <th>Rebounds</th>
        <th>Assist</th>
        <th>Steals</th>
        <th>Blocks</th>
        <th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].games_played %>"><%= result[i].games_played %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].games_started %>"><%= result[i].games_started %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].field_goal_percentage %>"><%= result[i].field_goal_percentage %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].free_throw_percentage %>"><%= result[i].free_throw_percentage %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].three_point_percentage %>"><%= result[i].three_point_percentage %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].points %>"><%= result[i].points %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].rebounds %>"><%= result[i].rebounds %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].assist %>"><%= result[i].assist %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].steals %>"><%= result[i].steals %></a>
        </td>
        <td>
            <a href="/career_playoff_stats/?player_id=<%= result[i].blocks %>"><%= result[i].blocks %></a>
        </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/career_playoff_stats/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
            <form action="/career_playoff_stats/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>